
/* sponsor-us.module.css */
.container {
    font-family: 'Exo 2', sans-serif;
    background-color: #f5f5f5;
    color: #000000;
    padding: 2rem;
    max-width: 600px;
    margin: auto;
  }
  
  .title {
    color: #000000;
    /*background-color: rgba(136, 0, 255, 0.4);*/
    text-align: center;
    margin-bottom: 2rem;
    font-style: bold;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 0.5rem;
  }
  
  .input,
  .textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #8800ff;
    border-radius: 4px;
  }
  
  .button {
    background-color: #8800ff;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
  .button:hover {
    background-color: #7700ee;
  }