.fullPageBackground {
  min-height: 100vh;
  background: url('https://images.alphacoders.com/444/444383.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formWrapper {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; /* Set the width to 80% of the viewport width */
  max-width: 700px; /* Keep the max-width to limit the size on larger screens */
  margin: 2rem auto;
}


.title {
  text-align: center;
  margin-bottom: 1rem;
}

.emailLink {
  text-align: center;
  margin-bottom: 2rem;
  color: #555;
}

.mailtoLink {
  color: #8800ff;
  text-decoration: none;
}

.mailtoLink:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.5rem;
}

.input,
.textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #8800ff;
  border-radius: 4px;
}

.button {
  background-color: #8800ff;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: #7700ee;
}

.statusMessage {
  margin-top: 1rem;
  font-size: 0.95rem;
}
